<template name='home'>
   <h1>Kardex Estudiantil Digitalizado</h1>
   <div id="home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#home" data-slide-to="0" class="active"></li>
      <li data-target="#home" data-slide-to="1"></li>
      <li data-target="#home" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div align="center" class="carousel-item active">
        <img src="/images/logo.png" alt="" width="550" height="500">
      </div>
      <div align="center" class="carousel-item">
        <img src="/images/logo.png" alt="" width="550" height="500">
      </div>
      <div align="center" class="carousel-item">
        <img src="/images/logo.png" alt="" width="550" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#home" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#home" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>

</template>