<template name="viewUser">
                <div id='mainContent'>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
    <h1>Lista de Usuarios</h1>
    <table id="dataTable" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead class="thead-light">
            <tr>
                <th>Usuario</th>
                <th>Cargo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correos</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each getusers}}
                <tr>
                        <th>{{username}}</th>
                        <th>{{profile.cargo}}</th>
                        <th>{{profile.firstName}}</th>
                        <th>{{profile.LastName}}</th>
                        <th>{{emails.[0].address}}</th>
                        <!--<td><button class="ti-pencil-alt btn cur-p btn-info"></button></td><th>EDITAR</th>-->
                        <!--<td><button class="ti-trash btn cur-p btn-outline-danger"></button></td><th>DAR DE BAJA</th>-->
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>
</div>
</div>
</div>
</template>